---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold">resume</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold mb-1">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
        <div class="col-md-2">
          <h4>relevant coursework</h4>
        </div>
        <div class="col-md-10">
            <p>Multivariable Calculus, Discrete Mathematics, Linear Algebra and Differential Equations,
                Intro Computer Languages and Techniques, Classical Mechanics
            </p>
        </div>
      </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.experience %}
          <p class="fw-bold mb-1">{{ section.title }}</p>
          <p class="fw-italics">{{section.position}}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>